<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
    <form th:object="${form}" th:action="@{${key != null ? '/students/update' + key : '/students/create'}}" method="post">
        <div class="mt-2">
            <label class="form-label">Full name</label>
            <input type="text" class="form-control" th:field="*{fullname}" placeholder="Enter full name">
        </div>
        <div class="mt-2">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" th:field="*{email}" placeholder="Enter email">
        </div>
        <div class="mt-2">
            <label class="form-label">Gender</label>
            <select class="form-control" th:field="*{gender}">
                <option value="true">Male</option>
                <option value="false">Female</option>
            </select>
        </div>
        <div class="mt-2">
            <label class="form-label">Country</label>
            <select class="form-control" th:field="*{country}">
                <option value="VN">Vietnam</option>
                <option value="US">United States</option>
                <option value="UK">United Kingdom</option>
            </select>
        </div>
        <div class="mt-2">
            <label class="form-label">Marks</label>
            <input type="number" class="form-control" th:field="*{marks}" placeholder="Enter marks">
        </div>
        <div class="mt-2">
            <button th:if="${key == null}" type="submit" class="btn btn-success">Create</button>
            <button th:if="${key != null}" type="submit" class="btn btn-warning">Update</button>
            <a th:if="${key != null}" th:href="@{|/students/delete${key}|}" class="btn btn-danger">Delete</a>
            <a th:href="@{/students/index}" class="btn btn-primary">Reset</a>
        </div>
    </form>
</body>
</html>